<section class="container">
    <section class="row">
        <article class="col">
            <h1 class="mt-5 text-center">CADASTRO DE SAIDAS</h1>
            <form action="add" method="POST">
                <article>
                    <label for="cpf">CPF</label>
                    <input type="number" class="form-control" name="cpf" id="cpf" value="00000000000" required>
                </article>
                <article>
                    <label for="produtosEvalor">PRODUTO</label>
                    <% if (lista.length==0) { %>
                        <div class="alert alert-warning"> Não existem produtos cadastrados.</div>
                        <% } else {%>
                            <select name="produtoEvalor" id="produtoEvalor" class="form-control">
                                <% lista.forEach(function(objeto){ %>
                                    <option value="<%= objeto.estoque_id %>E<%= objeto.estoque_valor %>">
                                        <%= objeto.estoque_nome %>
                                    </option>
                                    <% }) %>
                            </select>
                            <% } %>
                </article>
                <article class="form-group">
                    <label for="quant">QUANTIDADE</label>
                    <input class="form-control" type="number" id="quant" name="quant" placeholder="0000" required>
                </article>
                <button id="submit" type="submit" class="mb-5 btn btn-primary">Enviar</button>
            </form>
        </article>
    </section>
</section>