<section class="container">
    <section class="row">
        <section class="col">
            <section class="row mt-5">
                <article class="col-12">
                    <h1 class="text-center">Lista de livros</h1>
                </article>
            </section>
            <hr>
            <table id="tabelaLivrosAdmin" class="text-center table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>NOME</th>
                        <th>ISBN</th>
                        <th>AUTOR</th>
                    </tr>
                </thead>

                </tbody>
            </table>
        </section>
    </section>
</section>
<br>