h1, h2, h3 {
    text-align: center;
}

#tabela_geral{
    margin-left: 30%;
    text-align: justify
}

.esquerda {
    border-style: solid;
    border-left-style:ridge;
    border-right-style:dashed;
    border-left-width: 15px;
    height: 100px;
    width: 200px;
}

.direita {
    border-style: solid;
    border-right-style:groove;
    border-left-style:dashed; 
    border-right-width: 15px;
    height: 100px;
    width: 200px;
}

.superior {
    border-style: solid;
    border-top-style:ridge;
    border-top-width: 15px;  
    height: 100px;
    width: 200px;
}

.inferior {
    border-style: solid;
    border-bottom-style:groove;
    border-bottom-width: 15px;
    height: 100px;
    width: 200px;  
}

.centro {
    border-style: solid;
    border-left-style:dashed; 
    border-right-style:dashed;
    height: 100px;
    width: 200px;
}

#ac {
    border-style: solid;
    border-left-style:ridge;
    border-top-left-radius: 25%;
    border-left-width: 15px;
    border-top-style:ridge;
    border-top-width: 15px;
    height: 100px;
    width: 200px;
}

#df {
    border-top-color:indigo
}

#es {
    border-left-color:lawngreen
}

#go {
    border-bottom-color:magenta
}

#ma {
    border-bottom-style:double
}

#mt {
    border-top-color:mediumvioletred;
}

#ms {
    border-bottom-style:groove;
    border-bottom-width: 10px;
}

#mg {
    border-left-color:orangered
}

#pa {
    border-top-width: 10px;
    border-top-color:peru;
}

#pr {
    border-color:royalblue
}

#pe {
    border-bottom-style: double;
    border-bottom-width: 10px;
    border-bottom-color:violet
}

#pi {
    border-color:slateblue
}

#rj {
    border-color:tomato
}

#rn {
    border-right-style:double;
    border-right-width: 10px;
    border-right-color:blue    
}

#rs {
    border-color:crimson
}

#ro {
    border-color:cyan;
    border-style: ridge;
    border-width: 15px;
}

#rr {
    border-color:darkmagenta;
    border-style: groove;
    border-width: 15px;
}

#sc {
    border-color:darkslateblue;
    border-bottom-width: 15px;
    border-bottom-style:dotted;
    height: 100px;
    width: 200px;
}

#ap {
    border-style: solid;
    border-right-style:groove;
    border-top-right-radius: 25%;
    border-right-width: 15px;
    border-top-style:ridge;
    border-top-width: 15px;
    height: 100px;
    width: 200px;
}

#sp  {
    border-style: solid;
    border-bottom-style:groove; 
    border-left-style:ridge;
    border-bottom-width: 15px;
    border-bottom-left-radius: 25%;
    border-left-width: 15px;
    height: 100px;
    width: 200px;
}

#to {
    border-style: solid;
    border-bottom-style:groove; 
    border-right-style:groove;
    border-bottom-width: 15px;
    border-bottom-right-radius: 25%;
    border-right-width: 15px;
    height: 100px;
    width: 200px;
}

img {
    width: 200px;
    height: 100px;
}
.esquerda, .inferior, .direita, .superior, .centro, #ac, #ap, #sp, #to {
    background-color:greenyellow;
    background-clip:content-box;
} 