html {
    font-family: sans-serif;
}
.menus {
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 2); 
}
.menus li {
    width: 24%;
    float:left;
    padding: auto;
    position: relative;
    border-right: 1px solid #c0c0c0;
    text-align:center;
}
.menus li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.menus li a:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}
.menus li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}
.menus li:hover ul,
.menus li.over ul {
    display: block;
}
.menus li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}   
a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
}