* {
    padding: 0%;
    margin: 0%;
}

/* ATRIBUTOS PRINCIPAIS */

body {
    background-image: linear-gradient(rgb(153 222 230),rgb(251 225 153));
    height: 120vh;
}

main {
    position: relative;
}

nav {
    width: 80%;
    height: 40px;
    background-color: violet;
    position: fixed;
    left: 10%;
    top: 30px;
}

/* ATRIBUTOS INTERNOS */

ul:nth-of-type(1){
    height: 100%;
    text-decoration: none;
    list-style: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
}

ul:nth-of-type(1) li {
    height: 100%;
    float:left;
    text-align: center;
    padding-top: 15px;
    border: solid #393939;
    width: 24.60%;
    background-image: linear-gradient(rgb(153 222 230),rgb(251 225 153));

}

ul:nth-of-type(1) a li:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

a {
    text-decoration: none;
    text-align: center;
}

article:nth-of-type(1) {
    width: 24%;
    height: 300px;
    position: absolute;
    left: 10%;
    bottom: 10px;
    background-color: rgb(153 222 230);
    top: 70vh;
    z-index: 2
}

article:nth-of-type(3) {
    width: 23%;
    height: 300px;
    position: absolute;
    left: 38.5%;
    bottom: 10px;
    background-color: ivory;
    overflow: auto;
    top: 70vh;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 2
}

article:nth-of-type(5) {
    width: 24%;
    height: 300px;
    position: absolute;
    left: 67.2%;
    bottom: 10px;
    background-color: rgb(177 179 180);
    top: 70vh;
    z-index: 2
}

article:nth-of-type(2) {
    position: absolute;
    top: 60vh;
    left: 17%;
    z-index: 3
}

article:nth-of-type(4) {
    position: absolute;
    top: 60vh;
    left: 45%;
    z-index: 1
}

article:nth-of-type(6) {
    position: absolute;
    top: 60vh;
    left: 75%;
    z-index: 3
}

article:nth-of-type(7) {
    position: fixed;
    height: 70px;
    width: 15%;
    top:85vh;
    background-color: rgb(153 222 230);
    z-index: 3
}

/* CLASSES  */

/* ID's */

#recuperar_senha {
    position: absolute;
    left: 20%;
}

#original {
    width:25%;
    position: absolute;
    left:5%
}

#limao {
    width:25%;
    position: absolute;
    left:35%
}

#uva {
    width:25%;
    position: absolute;
    left:65%
}