<section class="container">
    <section class="row">
        <section class="col">
            <section class="row mt-5 mb-5">
                <article class="col-6 text-left">
                    <h1 class="">LISTA DE ENTRADAS</h1>
                </article>
                <article class="col-6 text-right">
                    <a href="/entrada/add " class="btn btn-success btn-lg">CADASTRAR ENTRADA</a>
                </article>
            </section>
            <table id="tabelaLivrosAdmin"  class="text-center table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>PRODUTO</th>
                        <th>FORNECEDOR</th>
                        <th>QUANTIDADE</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (entrada_lista.length==0) { %>
                        <div class="alert alert-warning"> Não existem dados cadastrados.</div>
                    <% } else {%>
                    <% entrada_lista.forEach(function(objeto){ %>
                        <tr>
                            <td><%=objeto.entrada_id %></td>
                            <td><%=objeto.estoque_nome %></td>
                            <td><%=objeto.forn_nome %></td>
                            <td><%=objeto.entrada_quant %></td>
                        </tr>
                    <% }) %>
                    <% } %>
                </tbody>
            </table>
        </section>
    </section>
</section>