* {
    padding: 0%;
    margin: 0%;
}

/* ATRIBUTOS PRINCIPAIS */

body {
    background-image: linear-gradient(rgb(153 222 230),rgb(251 225 153));
    height: 100vh;
}

main {
    position: relative;
}

nav {
    width: 81%;
    height: 40px;
    background-color: violet;
    position: relative;
    left: 10%;
    top: 30px;
}

/* ATRIBUTOS INTERNOS */

ul:nth-of-type(1){
    height: 100%;
    text-decoration: none;
    list-style: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
}

ul:nth-of-type(1) li {
    height: 100%;
    float:left;
    text-align: center;
    padding-top: 15px;
    border: solid #393939;
    width: 24.61%;
    background-image: linear-gradient(rgb(153 222 230),rgb(251 225 153));

}

ul:nth-of-type(1) a li:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

a {
    text-decoration: none;
    text-align: center;
}

section:nth-of-type(1) {
    width: 37%;
    height: 500px;
    float: left;
    position: absolute;
    top: 25vh;
    left: 10%;
    z-index: 1;
}

section:nth-of-type(2) {
    width: 37%;
    height: 500px;
    float: right;
    position: absolute;
    top: 25vh;
    right: 10%;
    z-index: 1;
}

section:nth-of-type(1) article:nth-of-type(1) {
    width: 47%;
    height: 40%;
    position: absolute;
    background-color: rgb(153 222 230);
    top: 1%;
    left: 52%;
    z-index: 3;
    overflow: auto
}

section:nth-of-type(1) article:nth-of-type(2) {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 3;
}

section:nth-of-type(1) article:nth-of-type(3) {
    width: 47%;
    height: 40%;
    position: absolute;
    color: slateblue;
    top: 59%;
    left: 1%;
    z-index: 4;
}

section:nth-of-type(2) article:nth-of-type(1) {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(153 222 230);
    z-index: 2;
}

section:nth-of-type(2) article:nth-of-type(2) {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 3;
}

section:nth-of-type(2) article:nth-of-type(3) {
    width: 91%;
    height: 50%;
    position: absolute;
    right: 1%;
    left:1%;
    top: 1%;
    background-color: rgb(251 225 153);
    z-index: 4;
    overflow: auto;
}

section:nth-of-type(2) article:nth-of-type(3) h1{
    text-align: center;
}

section:nth-of-type(2) article:nth-of-type(3) {
    text-align: justify;
    text-indent: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/* CLASSES  */

/* ID's */

#tokyo21 {
    position:absolute;
    top: 10%;
    left: 10%;
}