* {
    padding: 0%;
    margin: 0%;
    text-align: justify;
}

/* ATRIBUTOS PRINCIPAIS */

body {
    background-image: linear-gradient(#09c9f8, #07bfef);
}

footer {
    text-align:center;
    color: ivory;
}

main {
    width: 49%;
    margin-left: 25%;
    box-shadow: 5px 10px 5px black;
    height: 550px
}

/* ATRIBUTOS INTERNOS */

footer, header, main, nav {
    clear: both;
}

footer span a {
    text-decoration: none;
    color: ivory
}

header img{
    display: block;
    margin-left: 25%;
}

nav {
    width: 50%;
    margin-left: 25%;
}

/* CLASSES  */

.conteudo1 {
    background-image: linear-gradient(hsl(0deg 0% 100%) 10%, hsl(0deg 0% 90%) 10%, hsl(0deg 0% 90%) 100%);
    padding-top: 25px;
}

.divisoria {
    height: 25px;
    background-image: linear-gradient(#545359, #1e1e1e); 
    clear: both;
}

.about {
    float: left;
    background-color: hsl(0deg 0% 100%);
    padding-top: 25px;
    padding-left: 25px;
    padding-right:10px;
    width: 28%;
    height: 300px;
}

.news {
    float:left;
    background-color: hsl(0deg 0% 100%);
    padding-top: 25px;
    padding-left: 25px;
    padding-right:10px;
    width: 28.20%;
    height: 300px;
}

.services {
    float: left;
    background-color: hsl(0deg 0% 100%);
    padding-top: 25px;
    padding-left: 25px;
    padding-right:10px;
    width: 29%;
    height: 300px;
}

.news {
    border-left-style: solid;
    border-right-style: solid;
}

.textoverde {
    color: rgb(141 179 109)
}

.tituloconteudo2 {
    color: rgb(68 147 163)
}

.titulolorem {
    color: rgb(123 182 63)
}

/* ID's */

#botao {
    margin-left: 40%;
}

#lorem {
    float:left;
    width: 60%;
    height: 150px;
    padding-left: 20px;
    text-align: justify;
}

#olho {
    float:right;
    width: 28%;
    height: 150px;
}


#menu {
    text-decoration: none;
    list-style: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
}

#menu a {
    text-decoration: none;
    color: ivory
}

#menu li {
    height: 35px;
    float:left;
    text-align: center;
    padding-top: 15px;
    border: solid #393939;
    width: 19%;
    background-image: linear-gradient(#545359, #1e1e1e);
}

#listaservices li{
    list-style-position:inside;
}

#listaservices li span{
    color: rgb(141 179 109);
}
