<mat-grid-list cols="3" rowHeight="2:1">

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title >
                Introdução
            </mat-card-title>
            <mat-card-subtitle>
                <span>Uma breve introdução ao Angular.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/introducao">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
<!-- 
    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Typescript
            </mat-card-title>
            <mat-card-subtitle>
                <span>Saiba mais sobre a linguagem utilizada pelo Angular.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/typescript">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Programação orientada a objetos
            </mat-card-title>
            <mat-card-subtitle>
                <span>Entenda o paradigma utilizado pelo Angular.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/poo">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile> -->

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Módulos
            </mat-card-title>
            <mat-card-subtitle>
                <span>O que são módulos.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/modulos">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Componentes
            </mat-card-title>
            <mat-card-subtitle>
                <span>Qual a utilidade dos componentes.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/componentes">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Serviços
            </mat-card-title>
            <mat-card-subtitle>
                <span>Tudo sobre os serviços.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/servicos">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Diretivas
            </mat-card-title>
            <mat-card-subtitle>
                <span>Como aplicar corretamente diretivas.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/diretivas">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>

<!--     <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Pipes
            </mat-card-title>
            <mat-card-subtitle>
                <span>Qual a utilidade dos pipes.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/pipes">Conheça!</a></button>
            </mat-card-footer>

        </mat-card>
    </mat-grid-tile> -->

<!--     <mat-grid-tile>
        <mat-card  class="mat-elevation-z8">
            <mat-card-title>
                Material
            </mat-card-title>
            <mat-card-subtitle>
                <span>Conheça um pouco sobre o Angular Material.</span>
            </mat-card-subtitle>
            <hr>
            <mat-card-footer>
                <button mat-raised-button color="accent"><a href="/material">Conheça!</a></button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile> -->

</mat-grid-list>