<section class="container">
    <h1 class="display-1">BOOKS</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="7" class="table-primary text-center">
                    <span>ACTIVE PATIENTS</span>
                </th>
            </tr>
            <tr>
                <th style="width: 50px">Attend</th>
                <th>Name</th>
                <th>Age</th>
                <th>CPF</th>
                <th>Priority</th>
                <th class="text-center">
                    <a mat-stroked-button [routerLink]="['/patients/register']" color="primary">New</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let patient of patients' [hidden]="!patient.active" [class.table-danger]="patient.priority == 1"
                [class.table-warning]="patient.priority == 2" [class.table-success]="patient.priority == 3">
                <td class="text-center">
                    <input type="checkbox" name="patientAttend" [value]="patient.id" [checked]="patient.attend"
                        (click)="updateAttend(patient)">
                </td>
                <td [patientAttend]="patient.attend">
                    {{ patient.name }}
                </td>
                <td>
                    {{ patient.age }}
                </td>
                <td>
                    {{ patient.cpf }}
                </td>
                <td *ngIf="patient.priority == 0">

                </td>
                <td *ngIf="patient.priority == 1">
                    Alta
                </td>
                <td *ngIf="patient.priority == 2">
                    Média
                </td>
                <td *ngIf="patient.priority == 3">
                    Baixa
                </td>
                <td class="text-center" style="width: 200px">
                    <a title="Editar" alt="Editar" color="primary" mat-mini-fab
                        [routerLink]="['/patients/edit',patient.id]">
                        <mat-icon>mode_edit</mat-icon>
                    </a>
                    <a (click)="updateStatus(patient)" title="inativar" alt="inativar" mat-mini-fab>
                        <mat-icon>remove</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td colspan="6" class="table-secondary text-center">
                    <span>INACTIVE PATIENTS</span>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>CPF</th>
                <th>Priority</th>
                <th class="text-center">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let patient of patients' [hidden]="patient.active">
                <td>
                    {{ patient.name }}
                </td>
                <td>
                    {{ patient.age }}
                </td>
                <td>
                    {{ patient.cpf }}
                </td>
                <td *ngIf="patient.priority == 0">

                </td>
                <td *ngIf="patient.priority == 1">
                    Alta
                </td>
                <td *ngIf="patient.priority == 2">
                    Média
                </td>
                <td *ngIf="patient.priority == 3">
                    Baixa
                </td>
                <td class="text-center" style="width: 200px">
                    <a title="Editar" alt="Editar" color="primary" mat-mini-fab
                        [routerLink]="['/patients/edit',patient.id]">
                        <mat-icon>mode_edit</mat-icon>
                    </a>
                    <a (click)="updateStatus(patient)" title="ativar" alt="ativar" color="accent" mat-mini-fab>
                        <mat-icon>add</mat-icon>
                    </a>
                    <a (click)="deletePatient(patient)" title="Remover" alt="Remover" color="warn" mat-mini-fab>
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf='patients.length == 0'>No patients registered.</p>
</section>