<div>
    <h2>O que são diretivas?</h2>
    <p>
        Em um alto nível, as diretivas são marcadores em um elemento DOM (como um atributo, nome do elemento, comentário
        ou classe CSS) que dizem ao compilador HTML do AngularJS ( $compile) para anexar um comportamento especificado a
        esse elemento DOM (por exemplo, por meio de ouvintes de evento), ou até mesmo para transformar o elemento DOM e
        seus filhos.
        <br>
        AngularJS vem com um conjunto destas directivas internas, como ngBind, ngModel, e ngClass. Assim como você cria
        controladores e serviços, você pode criar suas próprias diretivas para uso do AngularJS. Quando o AngularJS
        inicializa seu aplicativo, o compilador HTML atravessa as diretivas correspondentes do DOM contra os elementos
        do DOM.
    </p>
</div>