.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control {
    margin-left: 5px;
    margin-right: 5px;
    font-size: larger;
}