<div>
    <h2>O que é Angular?</h2>
    <p>
        Angular (comumente referido como "Angular 2+" ou "Angular 2") é uma plataforma de aplicações web de código-fonte
        aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de
        indivíduos e corporações. Angular é uma reescrita completa do AngularJS, feito pela mesma equipe que o
        construiu.
    </p>
    <hr>
    <h2>Programação orientada a objeto</h2>
    <p>
        Programação orientada a objetos (POO, ou OOP segundo as suas siglas em inglês) é um paradigma de programação
        baseado no conceito de "objetos", que podem conter dados na forma de campos, também conhecidos como atributos, e
        códigos, na forma de procedimentos, também conhecidos como métodos. Uma característica de objetos é que um
        procedimento de objeto pode acessar, e geralmente modificar, os campos de dados do objeto com o qual eles estão
        associados (objetos possuem uma noção de "this" (este) ou "self" (próprio)).
        <br>
        Em POO, programas de computadores são projetados por meio da composição de objetos que interagem com
        outros.[1][2] Há uma diversidade significante de linguagens de POO, mas as mais populares são aquelas baseadas
        em classes, significando que objetos são instâncias de classes, que, normalmente, também determinam seu tipo.
        <br>
        Muitas das linguagens de programação mais utilizadas (como C ++, Object Pascal, Java, Python, etc.) são
        linguagens de programação multiparadigmas que suportam programação orientada a objetos em maior ou menor grau,
        tipicamente em combinação com programação procedural imperativa. Linguagens orientadas a objeto significativas
        incluem Java, C++, C#, Python, Lua, PHP, Ruby, Perl, Object Pascal, Objective-C, Dart, Swift, Scala, Common Lisp
        e Smalltalk.
    </p>
    <hr>
    <h2>Typescript</h2>
        <p>
            TypeScript é uma linguagem de programação de código aberto desenvolvida pela Microsoft. É um superconjunto
            sintático estrito de JavaScript e adiciona tipagem estática opcional à linguagem. Tipos fornecem uma maneira
            de descrever a forma de um objeto, fornecendo melhor documentação e permitindo que o TypeScript valide se
            seu código está funcionando corretamente. Como TypeScript é um superconjunto de JavaScript, os programas
            JavaScript existentes também são programas TypeScript válidos.
        </p>
    <hr>
<!--     <h2>Primeiros passos</h2>
    <p>

    </p> -->
</div>