*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linha {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

div {
    height: 200px;
    width: 200px;
    border: solid 1px #ed3e44;
    box-shadow: inset 20px -20px #ed3e44;
    margin: 1%;
    font-size: 50px;
    text-align: center;
}

.largura16 {
    flex-basis: 16%;
}

.largura32 {
    flex-basis: 33%;
}