<section class="container">
    <section class="row">
        <article class="col">
            <h1 class="mt-5 text-center">Cadastrar Fornecedores</h1>
            <form action="add" method="POST">
                <article class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do fornecedor"  required>
                </article>
                <article class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input class="form-control" type="text" id="cnpj" name="cnpj" placeholder="0000"  required>
                </article>
                <button id="submit" type="submit" class="mb-5 btn btn-primary">Enviar</button>
            </form>
        </article>
    </section>
</section>