*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: ivory;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }

div {
    height: 105px;
    width: 200px;
    background-color: rgb(255 215 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin: 0.5%;
    font-size: 50px;
    text-align: center;
}

div span{
    position:relative;
    top: 20%;
}
div:nth-child(1) {
    flex-basis: 100%;
}

div:nth-child(2) {
    flex-basis: 49%;
}

div:nth-child(3) {
    flex-basis: 49%;
}

div:nth-child(4), div:nth-child(6), div:nth-child(5) {
    flex-basis: 32%;
}

div:nth-child(7), div:nth-child(8), div:nth-child(9), div:nth-child(10) {
    flex-basis: 24%;
}

div:nth-child(11), div:nth-child(12), div:nth-child(13), div:nth-child(14), div:nth-child(15), div:nth-child(16) {
    flex-basis: 15%;
}

div:nth-child(17), div:nth-child(18), div:nth-child(19), div:nth-child(20), div:nth-child(21), div:nth-child(22), div:nth-child(23), div:nth-child(24), div:nth-child(25), div:nth-child(26), div:nth-child(27), div:nth-child(28) {
    flex-basis: 8%;
}
