<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Coque Company</span>
    </mat-toolbar-row>

</mat-toolbar>

<mat-card fxLayout="row" fxLayoutAlign="space-between stretch">
    <div  fxFlex="48">
        <app-department></app-department>
    </div>

    <div fxFlex="48">
        <app-product></app-product>
    </div>
    
</mat-card>

<mat-toolbar class="footer"  color="primary">

    <small>Desenvolvido por <a href="https://github.com/lucasclf">Lucas Coquenão</a> &copy; 2021</small>

</mat-toolbar>