:root {
    background-color: lavenderblush
}

h1, h2, h6 {
    text-align: center;
}

table {
    border-style: solid;
    margin-left: 30%;
}

td {
    border-style: solid;
    width: 300px;
    height: 300px;
    text-align: center;
}

#c1x1 {
    background-image: linear-gradient(red, ivory, blue);
}

#c1x2 {
    background-image: linear-gradient(95deg, red, ivory, blue);
}

#c2x1 {
    background-image: linear-gradient(to left bottom, red, ivory, blue);
}

#c2x2 {
    background-image: repeating-linear-gradient(rgb(255, 0, 200), ivory 50%);
}

#c3x1 {
    background-image: repeating-linear-gradient(red, blue 10%, rgb(122, 0, 150), ivory 50%);
}

#c3x2 {
    background-image: repeating-linear-gradient(to bottom right, red, blue 10%, rgb(122, 0, 150), ivory 50%);
}

#c4x1 {
    background-image: radial-gradient(pink, black);
}

#c4x2 {
    background-image: radial-gradient(black, pink);
}

#c4x2 span {
    color: ivory
}

#c5x1 {
    background-image: radial-gradient(at top left, red, black, pink);
}

#c5x1 span {
    color: ivory
}

#c5x2 {
    background-image: repeating-radial-gradient(at bottom right, purple, black, pink 10%);
}

#c5x2 span {
    color: ivory
}

#c6x1 {
    background-image: repeating-radial-gradient(purple, black 10%, pink 10%);
}

#c6x1 span {
    color: ivory
}

#c6x2 {
    background-image: repeating-radial-gradient(black, pink 10%, purple 10%);
}

#c6x2 span {
    color: ivory
}