<div>
    <h2>O que são módulos?</h2>
    <p>
        As aplicações angulares são modulares e o Angular tem seu próprio sistema de modularidade chamado NgModules .
        NgModules são contêineres para um bloco coeso de código dedicado a um domínio de aplicativo, um fluxo de
        trabalho ou um conjunto de recursos intimamente relacionado. Eles podem conter componentes, provedores de
        serviço e outros arquivos de código cujo escopo é definido pelo NgModule que o contém. Eles podem importar
        funcionalidades que são exportadas de outros NgModules e exportar funcionalidades selecionadas para uso por
        outros NgModules.
        <br>
        Cada aplicativo Angular tem pelo menos uma classe NgModule, o módulo raiz , que é convencionalmente denominado
        AppModulee reside em um arquivo denominado app.module.ts. Você inicia seu aplicativo inicializando o NgModule
        raiz.
        <br>
        Embora um pequeno aplicativo possa ter apenas um NgModule, a maioria dos aplicativos possui muitos mais módulos
        de recursos . O NgModule raiz de um aplicativo recebe esse nome porque pode incluir NgModules filho em uma
        hierarquia de qualquer profundidade.
    </p>
</div>