* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* ATRIBUTOS PRINCIPAIS */

body {
    background-color: hsla(270, 100%, 50%, 0.5);
    color: red;
}

main, header, footer {
    width: 100%;
    clear: both;
    position: relative;
    top: 30px;
}

/* ATRIBUTOS INTERNOS */

section {
    width: 200px;
    height: 200px;
    border: solid 1px;
    position: relative;
    background-color: hsla(270, 50%, 50%, 1);
}

article {
    width: 50px;
    height: 50px;
    border: solid 1px;
    position: absolute;
    top: 74px;
    left: 74px;
    background-color: hsla(270, 20%, 50%, 0.5);
}

span {
    position: absolute;
    top: 14px;
    left: 14px;    
    color: ivory;
}

/* CLASSES  */

.section_header:nth-child(1) {
    float:left;
    position: relative;
    left: 200px
}

.section_header:nth-child(2) {
    float:left;
    position: relative;
    left: 500px
}

.section_header:nth-child(3) {
    float:left;
    position: relative;
    left: 800px
}

.section_main1 {
    float:left;
    position: relative;
    left: 950px;
    top: 40px;
}

.section_main2 {
    float:left;
    float:left;
    position: relative;
    left: 250px;
    top: 40px;
}

.section_footer{
        float:left;
        position: relative;
        left: 700px;
        top: 75px;
}