
<section class="container">
    <section class="row">
        <article class="col">
            <h1 class="mt-5 text-center">Cadastrar Livros</h1>
            <form action="/admin/editarlivro" method="POST">
                <article class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do produto"
                        value="<%= livros_lista.nome_livro %>">
                </article>
                <article class="form-group">
                    <label for="cdd">ISBN</label>
                    <input class="form-control" type="number" step="0.01" id="isbn" name="isbn" placeholder="000.0"
                        value="<%= livros_lista.isbn_livro %>">
                </article>
                <article class="form-group">
                    <label for="autor">Autor</label>
                    <input class="form-control" type="text" id="autor" name="autor" placeholder="João da Silva Sauro"
                        value="<%= livros_lista.autor_livro %>">
                </article>
                
                <input type="hidden" name="id" value="<%= livros_lista.id_livro %>">

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </article>
    </section>
</section>
