<section>
    <h2 class="display-3 text-center">Bem vindo a biblioteca Cqn!</h2>
</section>
<section class="container">
    <% if(success_msg) { %>
    <article class="alert alert-success mt-2">
        <%= success_msg %>
    </article>
    <% } %>
    <% if(error_msg) { %>
    <article class="alert alert-danger mt-2">
        <%= error_msg %>
    </article>  
    <% } %>
</section>

