<section class="container">
    <section class="row">
        <section class="col">
            <section class="row mt-5">
                <article class="col-12">
                    <h1 class="text-center">Lista de livros</h1>
                </article>
            </section>
            <table id="tabelaLivrosAdmin"  class="text-center table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>NOME</th>
                        <th>ISBN</th>
                        <th>AUTOR</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (livros_lista.length==0) { %>
                        <div class="alert alert-warning"> Não existem dados cadastrados.</div>
                    <% } else {%>
                    <% livros_lista.forEach(function(rows){ %>
                        <tr>
                            <td><%=rows.nome_livro %></td>
                            <td><%=rows.isbn_livro %></td>
                            <td><%=rows.autor_livro %></td>
                        </tr>
                    <% }) %>
                    <% } %>
                </tbody>
            </table>
        </section>
    </section>
</section>