<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6c336d">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: whitesmoke">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  style="color: whitesmoke">
      <span class="navbar-toggler-icon"  style="color: whitesmoke"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: whitesmoke">
            Projetos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/dashboard']" >Dashboard</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cientifica']" >Calculadora Cientifica</a></li>
            <li><a class="dropdown-item" [routerLink]="['/conversor']" >Conversor</a></li>
            <li><a class="dropdown-item" [routerLink]="['/velha']" >Velha</a></li>
            <li><a class="dropdown-item" [routerLink]="['/patients']" >Hospital</a></li>
            <li><hr class="dropdown-divider" ></li>
            <li><a class="dropdown-item" href="#" >Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

