* {
    padding: 0%;
    margin: 0%;
}

.calc {
    position: absolute;
}

header {
    height: 200px;
    background-color: purple;
}

/* Formatação geral de botões. */

input[type="button"]{
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color:#5386a4;
    font-weight: 700;
    font-size: 1em;
    text-shadow: 1px 1px 1px#5386a4;
    background-color: #272727;
    margin: 0.3rem;
}

.botaoCalc {
    height: 5vh ;
    width: 5vw;
}

/* Formatação geral das tela de numeros */

#tela1, #tela2 {
    width: 19vw;
    min-height: 5vh;
    font-size: 2rem;
    border: none
}

/* Formatação geral da tela de resultado*/

#telaResultado {
    width: 23vw;
    min-height: 5vh;
    font-size: 2rem;
    border: none
}

/* Formatação geral da tela de simbolos */

#telaSimbolo {
    width: 5vw;
    min-height: 10vh;
    font-size: 4rem;
    position:absolute;
    left: 40vw;
    border: none
}

/* Formatação de posicionamento no eixo X (largura) dos botões de alteração de calculadora. */

#simples {
    height: 5vh;
    width: 40.5vw;
    position: relative
}
