/* Formatação geral de botões. */

main input[type="button"]{
    border: none;
    text-align: center;
    cursor: pointer;
    color:#5386a4;
    font-size: 1em;
    background-color: #272727;
    margin: 0.3rem;
}

.botaoCalc {
    border-radius: 8px;
    height: 5vh ;
    width: 5vw;
}

#simples {
    border-radius: 8px;
    height: 5vh;
    width: 10.9vw;
}

.btnNeg {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

#negativo2 {
    position: relative;
    bottom:4px
}

/* Formatação geral das telas*/

#tela1, #tela2 {
    width: 19vw;
    min-height: 5vh;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: inherit;
}

/* Formatação geral da tela de simbolos */

#telaSimbolo {
    width: 1vw;
    min-height: 5vh;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: inherit;
}

/* Formatação de posicionamento no eixo X (largura) dos botões de alteração de calculadora. */

form{
    display: flex;
    align-content: center;
    margin-top:10vh;
    margin-left: 40vw;
  
}