<article>
    <br>
    <h1 class="text-center mt-2">BEM VINDO AO COQUE MARKET!!!</h1>
    <!-- <% if(error_msg) { %>
        <article class="alert alert-danger mt-2">
            <%= error_msg %>
        </article>
    <% } %>
    <% if(success_msg) { %>
        <article class="alert alert-danger mt-2">
            <%= success_msg %>
        </article>
    <% } %>
    <form action="login" method="POST">
        <label for="login">LOGIN</label>
        <input type="text" name="login" id="login" class="form-control" value="master">
        <label for="senha">SENHA</label>
        <input type="text" name="senha" id="senha" class="form-control">
        <button type="submit">LOGAR</button>
    </form> -->
</article>