article {
    width: 200px;
    height: 200px;
}

article:nth-child(1) {
    background-color: #f00;
    position: absolute;
    top: 50px;
    z-index:auto
}

article:nth-child(2) {

    background-color: #0f0;
    position: absolute;
    top: 100px;
    z-index: 4;
}

article:nth-child(3) {
    background-color: #00f;
    position: absolute;
    top: 150px;
    z-index:auto
}

article:nth-child(4) {
    background-color: rgb(255, 0, 234);
    position: absolute;
    top: 100px;
    z-index: 5;
}