* {
    padding: 0%;
    margin: 0%;
}

/* ATRIBUTOS PRINCIPAIS */

header, footer{
    width: 100%;
    border: solid 1px;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
}
main {
    width: 50%;
    height: 550px;
    border: solid 1px;
    position: relative;
    left: 25%;
    border-top: 0px;
    border-bottom: 0px;
}

/* ATRIBUTOS INTERNOS */

.topo span {
    position: absolute;
    top: 45%;
    left: 45%;
}

.meio span {
    position: absolute;
    top: 45%;
    left: 35%;
}

.fundo span {
    position: absolute;
    top: 45%;
    left: 40%;
}

/* CLASSES  */

.topo, .meio, .fundo {
    height: 33%;
    position: relative;
}

.topo article:nth-child(1) {
    height: 100%;
    width: 94%;
    border:solid 1px;
    position: absolute;
    left: 3%;
    top: 5%;
}

.meio article:nth-child(1) {
    height: 90%;
    width: 27%;
    border:solid 1px;
    position: absolute;
    left: 3%;
    top: 10%;
}

.meio article:nth-child(2) {
    height: 90%;
    width: 27%;
    border:solid 1px;
    position: absolute;
    left: 36.5%;
    right: 36.5%;
    top: 10%;
}

.meio article:nth-child(3) {
    height: 90%;
    width: 27%;
    border:solid 1px;
    position: absolute;
    right: 3%;
    top: 10%;
}

.fundo article:nth-child(1) {
    height: 90%;
    width: 45%;
    border:solid 1px;
    position: absolute;
    left: 3%;
    bottom: 5%;
}

.fundo article:nth-child(2) {
    height: 90%;
    width: 45%;
    border:solid 1px;
    position: absolute;
    right: 3%;
    bottom: 5%;
}

/* ID's */