<h1>Register Task</h1>

<div class="well">
  <form #formTask="ngForm">
    <div class="form-group">
      <label for="name">Task:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]= "task.name" #name="ngModel" minlength="5" required> 
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Enter the task.
        </div>
        <div [hidden]="!name.errors.minlength">
          The task name must contain at least 5 characters.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input type="submit" class="btn btn-success" (click)="register()" value="Register" [disabled]="!formTask.form.valid">
      <span> . </span>
      <a class="btn btn-primary" [routerLink]="['/tasks/list']">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
      </a>
    </div>
  </form>
</div>
