<section class="container">
    <section class="row">
        <article class="col">
            <h1 class="mt-5 text-center">CADASTRO DE PRODUTOS</h1>
            <form action="add" method="POST">
                <article class="form-group">
                    <label for="nome">NOME</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do PRODUTO">
                </article>
                <article class="form-group">
                    <label for="fornecedor">FORNECEDOR</label>
                    <% if (lista.length==0) { %>
                        <div class="alert alert-warning"> Não existem fornecedores cadastrados.</div>
                        <% } else {%>
                            <select name="fornecedor" id="fornecedor" class="form-control">
                                <% lista.forEach(function(objeto){ %>
                                    <option value="<%= objeto.forn_id %>">
                                        <%= objeto.forn_nome %>
                                    </option>
                                    <% }) %>
                            </select>
                            <% } %>
                </article>
                <article class="form-group">
                    <label for="quant">QUANTIDADE</label>
                    <input class="form-control" type="number" id="visivel" name="visivel" value="0" disabled>
                    <input class="form-control" type="hidden" id="quant" name="quant" value="0">
                </article>
                <article>
                    <label for="valor">VALOR UNITÁRIO</label>
                    <input class="form-control" type="number" id="valor" name="valor" placeholder="0000" step="any"  required>
                </article>
                <button id="submit" type="submit" class="mb-5 btn btn-primary">Enviar</button>
            </form>
        </article>
    </section>
</section>