<br />
<section class="container">
    <div *ngIf="possuiErro" class="alert alert-danger" role="alert">
        Erro obtendo dados. Tente novamente.
    </div>
    <div class="card card-success">
        <div class="card-heading text-center alert-success">
            Selecione a moeda a ser convertida
        </div>
        <div class="card-body text-center">
            <form #conversaoForm="ngForm" class="row form-inline">
                <div>
                    <input type="text" name="valor" class="form-control text-right" placeholder="0" required [(ngModel)]="conversao.valor" numero>

                    <select name="moedaDe" class="form-control" required [(ngModel)]="conversao.moedaDe">
                        <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                            {{ moeda.sigla }} - {{ moeda.descricao }}
                        </option>
                    </select>

                    <span>=></span>

                    <select name="moedaPara" class="form-control" required [(ngModel)]="conversao.moedaPara">
                        <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
                            {{ moeda.sigla }} - {{ moeda.descricao }}
                        </option>
                    </select>
                    <input id="btnConverter" type="submit" value="Converter" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#modalCotacao" (click)="converter()" [disabled]="!conversaoForm.form.valid">
                </div>
                <div>

                </div>
            </form>
        </div>
    </div>
    <modal-cotacao [id]="'modalCotacao'" 
    [conversaoResponse]="conversaoResponse"
    [conversao]="conversao"
    (onConfirm)="init()">		 
    </modal-cotacao>
</section>