* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* APAGAR */

header {
    background-color: rgb(255, 166, 0);
} 

footer {
    background-color: rgb(223, 130, 218);
}

main section:nth-of-type(1) {
    background-color: chartreuse;
}

main section:nth-of-type(2) {
    background-color: chocolate;
}

section {
    background-color: rgb(0, 255, 255);
}

/* ATRIBUTOS PRINCIPAIS */

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20fr 75fr 5fr;
}

nav {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 13%;
}

main {
    display: grid;
    grid-template-columns: 80fr 20fr;
}

/* ATRIBUTOS INTERNOS */

button {
    height: 5vh;
    width: 10vw;
}

/* CLASSES  */

.categoria_tank {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 25fr);

}

.categoria_tank img {
    width: 50%;
}

.roles {
    width: 15%;
}

/* ID's */

#tank {
    background-color: #2d3a80;
}

#healer {
    background-color: #346624;
}

#dps {
    background-color: #732828;
}
