<form class="row" #dadosForm="ngForm">
    <div class="row mx-auto form-inline justify-content-center mt-4">
        <label class="col-2" for="junho">JUNHO</label>
        <label class="col-2" for="julho">JULHO</label>
        <label class="col-2" for="agosto">AGOSTO</label>
        <label class="col-2" for="setembro">SETEMBRO</label>
    </div>
    <div class="row form-inline mx-auto justify-content-center">
        <input type="text" name="junho" id="junho" class="form-control d-block col-2" [(ngModel)]="junho" type="number" min='0'
            required>
        <input type="text" name="julho" id="julho" class="form-control d-block col-2" [(ngModel)]="julho" type="number" min='0'
            required>
        <input type="text" name="agosto" id="agosto" class="form-control d-block col-2" [(ngModel)]="agosto" type="number" min='0'
            required>
        <input type="text" name="setembro" id="setembro" class="form-control d-block col-2" [(ngModel)]="setembro" type="number"
            min='0' required>
            <input class="btn btn-primary col-2" type="submit" value="ENVIAR" (click)="definirDados()"
        [disabled]="!dadosForm.form.valid">
        </div>
        
</form>

<ul class="nav nav-tabs" id="myTab" role="tablist" [hidden]="!formFlag">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pie_chart-tab" data-bs-toggle="tab" data-bs-target="#pie_chart"
            type="button" role="tab" aria-controls="pie_chart" aria-selected="true">Pizza</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="3d_pie_chart-tab" data-bs-toggle="tab" data-bs-target="#pie3d_chart" type="button"
            role="tab" aria-controls="3d_pie_chart" aria-selected="false">Pizza 3d</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="donut_chart-tab" data-bs-toggle="tab" data-bs-target="#donut_chart" type="button"
            role="tab" aria-controls="donut_chart" aria-selected="false">Rosca</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="bar_chart-tab" data-bs-toggle="tab" data-bs-target="#bar_chart" type="button"
            role="tab" aria-controls="bar_chart" aria-selected="false">Barra</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="line_chart-tab" data-bs-toggle="tab" data-bs-target="#line_chart" type="button"
            role="tab" aria-controls="line_chart" aria-selected="false">Linha</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="column_chart-tab" data-bs-toggle="tab" data-bs-target="#column_chart" type="button"
            role="tab" aria-controls="column_chart" aria-selected="false">Coluna</button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel" id="pie_chart"></div>
    <div class="tab-pane fade show" role="tabpanel" id="pie3d_chart"></div>
    <div class="tab-pane fade show" role="tabpanel" id="donut_chart"></div>
    <div class="tab-pane fade show" role="tabpanel" id="bar_chart"></div>
    <div class="tab-pane fade show" role="tabpanel" id="line_chart"></div>
    <div class="tab-pane fade show" role="tabpanel" id="column_chart"></div>
</div>