<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <section class="row">
            <article class="col">
                <h2 class="display-2">CoqueSchool</h2>
                <h3 class="display-3 mt-5">Cadastro</h3>
            </article>
        </section>
        <form action="" method="POST">
            <article class="form-group form-row">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </article>
            <article class="form-group form-row">
                <label for="cpf">CPF</label>
                <input type="number" class="form-control" id="cpf" name="cpf">
            </article>
            <article class="form-group form-row">
                <label for="idade">Idade</label>
                <input type="number" class="form-control" id="idade" name="idade">
            </article>
            <article class="form-group form-row">
                <label for="materia">Materia</label>
                <input type="text" class="form-control" id="materia" name="materia">
            </article>
            <article class="form-group form-row">
                <article class="col-2 mx-auto">
                    <label class="form-check-label" for="pcd">PCD</label>
                    <select class="custom-select" name="pcd" id="pcd">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </article>
                <article class="col-2 mx-auto">
                    <button type="submit" class="btn btn-outline-dark">Enviar</button>
                </article>
            </article>
        </form>
    </section>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>