* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* APAGAR */

header {
    background-color: red;
}
nav {
    background-color: orange;
}
/* main {
background-color: blue;
} */
footer {
    background-color: violet;
}
/* main section article:nth-of-type(2) {
    height: 5vh;
    background-color: aquamarine;
} */

/* ELEMENTOS ESTRUTURAIS */

header {
    height: 15vh;
}

nav {
    height: 5vh;
}

main {
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    height: 5vh;
}

/* ELEMENTOS INTERNOS */

main section {
    width: 30vw;
    position: relative;
    top: 2.5vh;
    left: 1.5vw;
}

main section article:nth-of-type(1) {
    height: 5%;
    text-align: center;
}

main section article:nth-of-type(1) span {
    position: relative;
    bottom: 0.7vh;
}

main section article:nth-of-type(2) {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px;
}

figure {
/* width: 20vh; */
text-align: center;
}

figure:hover {
    transform: scale(2);
}


/* CLASSES */

.tank {
    background-color: #445ac6;
}

.tank img:nth-of-type(1) {
    height: 1.5vw;
    position: relative;
    right: 11.5vw;
}

.tank img:nth-of-type(2) {
    height: 1.5vw;
    position: relative;
    left: 11.5vw;
}

.healer {
    background-color: #467938;
}

.healer img:nth-of-type(1) {
    height: 1.5vw;
    position: relative;
    right: 10.7vw;
}

.healer img:nth-of-type(2) {
    height: 1.5vw;
    position: relative;
    left: 10.7vw;
}

.dps {
background-color: #733435;}

.dps img:nth-of-type(1) {
    height: 1.5vw;
    position: relative;
    right: 12vw;
}

.dps img:nth-of-type(2) {
    height: 1.5vw;
    position: relative;
    left: 12vw;
}

/* IDs */