:root {
    background-color: lavender;
}

div {
    padding:10%;
    border-style: solid;
    background-image: url(./imagem/Squirtle.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-clip: content-box;
}