body :nth-child(8){
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    box-shadow: 10px 10px 10px 10px; 
    height: 500px;
    width: 500px;
}

body :nth-child(16) {
    height: 500px;
    width: 500px;
    background-image: radial-gradient(ellipse, blue,violet,ivory,red);
}