<section class="container text-center">
    <form action="/criarConta" method="POST">
        <label for="nome">Nome</label>
        <input class="form-control" type="text" name="nome" id="nome">
        <label for="cpf">CPF</label>
        <input class="form-control" type="text" name="cpf" id="cpf">
        <label for="agencia">AGENCIA</label>
        <input class="form-control" type="text" name="agencia" id="agencia">
        <label for="conta">CONTA</label>
        <input class="form-control" type="text" name="conta" id="conta">
        <label for="senha">SENHA</label>
        <input class="form-control" type="text" name="senha" id="senha">
        <input class="form-control" type="hidden" value="0" name="saldo" id="saldo">
        <button class="btn btn-success mt-2 mb-2 text-center">ENVIAR</button>
    </form>
</section>