<form action="/criarConta" method="POST">
    <input type="text" name="nome">
    <input type="text" name="cpf">
    <input type="text" name="conta">
    <input type="text" name="agencia">
    <input type="text" name="senha">
    <input type="text" name="saldo">
    <button type="submit">ENVIAR</button>
</form>

<button (click)="teste()">TESTE</button>

<script src="teste.ts"></script>