<form action="/login" method="POST">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf">
    <label for="senha">SENHA:</label>
    <input type="text" name="senha" id="senha">
    <button>LOGAR</button>
</form>