<section class="container">
    <section class="row">
        <article class="col">
            <h1 class="mt-5 text-center">Cadastrar Livros</h1>
            <form action="/admin/cadastrar" method="POST">
                <article class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do produto">
                </article>
                <article class="form-group">
                    <label for="cdd">Classificação Decimal De Dewey</label>
                    <input class="form-control" type="number" step="0.01" id="cdd" name="cdd" placeholder="000.0">
                </article>
                <article class="form-group">
                    <label for="lcc">Classificação da Biblioteca do Congresso</label>
                    <input class="form-control" type="text" id="lcc" name="lcc" placeholder="X000">
                </article>
                <article class="form-group">
                    <label for="faixaEtaria">Classificação etária</label>
                    <select class="form-control" name="faixaEtaria" id="faixaEtaria">
                        <option value="Infantil">Infantil</option>
                        <option value="Infanto-juvenil">Infanto-juvenil</option>
                        <option value="Adulto">Adulto</option>
                        <option value="Livre">Livre</option>
                    </select>
                </article>
                <article class="form-group">
                    <label for="autor">Autor</label>
                    <input class="form-control" type="text" id="autor" name="autor" placeholder="João da Silva Sauro">
                </article>
                <article class="form-group">
                    <label for="ano">Ano de lançamento</label>
                    <input class="form-control" type="number" step="0.01" id="ano" name="ano" placeholder="1900">
                </article>
                <article class="form-group">
                    <label for="local">Localização</label>
                    <input class="form-control" type="text" id="local" name="local" placeholder="id_usuario">
                </article>
                <button id="submit" type="submit" disabled class="mb-5 btn btn-primary">Enviar</button>
            </form>
        </article>
    </section>
</section>